.parent {
    background-color: blue;
    position: absolute;
    height: 200vh;
}

.child-one {
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
}

.child-two {
    background-color: red;
}

.child-three {
    background-color: pink;
}